{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品管理</title>
</head>
<body>
<script src="{% static '/js/vue.js'%}"></script>
<script src="{% static '/js/element-ui/lib/index.js'%}"></script>
<link rel="stylesheet" href="{% static '/js/element-ui/lib/theme-chalk/index.css'%}">
<div id="app">
    <div  style="text-align:right">
        <span>---欢迎您：{{name}}---</span>
        <el-button type="danger" @click="goIndex">返回主页</el-button>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <el-table
      :data="dataTable"
      style="width: 100%">
      <el-table-column
        prop="goods_num"
        label="商品编号"
        width="190">
      </el-table-column>
      <el-table-column
        prop="goods_name"
        label="商品名"
        width="190">
      </el-table-column>
        <el-table-column
        prop="goods_price"
        label="商品单价"
        width="190">
      </el-table-column>
        <el-table-column
        prop="inventory_number"
        label="库存数量"
        width="190">
      </el-table-column>
        <el-table-column
        prop="inventory_sold"
        label="已售数量"
        width="190">
      </el-table-column>
        <el-table-column
        prop="goods_description"
        label="商品描述"
        width="320">
      </el-table-column>
        <el-table-column label="操作" prop="action" align="center">
          <div  slot-scope="scope">
              <el-button type="primary" @click="setDialog2(scope.row)">查看图片</el-button>
              <el-button type="primary" @click="setDialog1(scope.row)">修改商品信息</el-button>
              <el-button type="primary" @click="getComment(scope.$index, scope.row)">查看商品评论</el-button>
              <el-button type="danger" @click="deletef(scope.$index, scope.row)">下架</el-button>
          </div>
        </el-table-column>
    </el-table>
    <br>
    <div style="text-align:center">
        <el-button type="success" @click="setDialog1('1')">上架信息</el-button>
    </div>

    <el-dialog
    title="商品信息"
    :visible.sync="dialogVisible1"
    width="30%"
    :show-close="show1">
    <el-form ref="form" label-width="80px">
  <el-form-item label="商品名称">
    <el-input maxlength="10" type="text" v-model="Gname"></el-input>
  </el-form-item>
    <el-form-item label="商品价格">
    <el-input oninput="if(value.length > 6) value = value.slice(0,8)" type="number" v-model="Gprice"></el-input>
  </el-form-item>
    <el-form-item label="库存数量">
    <el-input oninput="if(value.length > 6) value = value.slice(0,8)" type="number" v-model="Gnumber"></el-input>
  </el-form-item>
    <el-form-item label="商品描述">
    <el-input maxlength="100" type="textarea" v-model="Gdes"></el-input>
  </el-form-item>
    <el-form-item label="商品照片">
    <input type="file" id="photo" accept="image/png, image/jpeg, image/jpg" @change="preview(this)">
      <span style="display:inline-block;width:100px;height:100px;background:#e0e0e0;">
        <img :src="Gphoto" alt="照片" id="GImg" style="width:100%;height:100%">
      </span>
  </el-form-item>
</el-form>
    <span slot="footer" class="dialog-footer">
        <el-button @click="cancel1">取 消</el-button>
    <el-button @click="putaway">确 定</el-button>
    </span>
    </el-dialog>
    <el-dialog
    title="商品图片"
    :visible.sync="dialogVisible2"
    width="50%"
    :show-close="show2">
    <el-image
      :src="photo_url"
      fit="fill">
    </el-image>
    <span slot="footer" class="dialog-footer">
    <el-button type="primary" @click="cancel2">确 定</el-button>
    </span>
    </el-dialog>
     <el-dialog
    title="商品评论"
    :visible.sync="dialogVisible3"
    width="52%"
    :show-close="show">
     <el-table
      :data="evaluationTable"
      style="width: 100%">
      <el-table-column
        prop="evaluation_time"
        label="评论时间"
        width="200">
      </el-table-column>
        <el-table-column
        prop="shopper_num"
        label="评论账号"
        width="200">
      </el-table-column>
        <el-table-column
        prop="shopper_name"
        label="名称"
        width="200">
      </el-table-column>
     <el-table-column
        prop="evaluation_information"
        label="评论信息"
        width="355">
      </el-table-column>
    </el-table>
    <span slot="footer" class="dialog-footer">
    <el-button type="primary" @click="cancel3">确 定</el-button>
    </span>
    </el-dialog>
</div>
<script>
    let i,j;
    let table={{ List|safe }};
    id = "{{id}}";
    const local = "http://localhost:8000/"
    // const local = "http://121.36.195.125:8000/"
    let evaTable = []
    let load={
        id:"{{id}}",
        goods_num:"",
        goods_number:"",
        order_address:"",
        ope:"",
        way:"",
    }
    let pack={
        id:"{{id}}",
        goods_name:"",
        goods_number:"",
        goods_price:"",
        goods_description:"",
        goods_photo:"1",
        ope:"",
        goods_num:""
    }
    new Vue({
        el:"#app",
        data: {
            // checked:false,
            dataTable: table,
            evaluationTable: evaTable,
            input:"",
            dialogVisible1: false,
            dialogVisible2: false,
            dialogVisible3: false,
            number:"",
            add:"",
            show:true,
            show1:false,
            show2:false,
            n:0,
            Gname:'',
            Gnumber:'',
            Gprice:'',
            Gdes:"",
            Gphoto:"",
            photo_url:'',
            Gnum:"",
        },
        methods:{
            goIndex:function(){
                let index_url = local+'sindex/?name={{name}}&id={{id}}&pwd={{pwd}}';
                fetch(index_url, {
                        method: 'GET',
                    }).then(function(response) {
                        // console.log(response)
                        window.location.replace(index_url)
                    }).catch(function(err) {
                        // 出错了;等价于 then 的第二个参数,但这样更好用更直观 :(
                    });
            },
            preview(){
                let fr=new FileReader();
                let photo=document.getElementById('photo').files[0];
                if(typeof photo == 'object') {
                    fr.readAsDataURL(photo);
                    fr.onload = function (e) {
                        document.getElementById('GImg').src = this.result;
                        console.log(typeof this.result);
                        pack.goods_photo=this.result;
                    }
                }
            },
            putaway:function (){
                //上架商品
                if(this.Gname == ""||this.Gnumber == ""||this.Gprice == ""||this.Gdes == ""||typeof pack.goods_photo == 'undefined'){
                    alert("请正确填写全部信息！");
                    return;
                }
                pack.goods_name=this.Gname;
                pack.goods_number=this.Gnumber;
                pack.goods_price=this.Gprice;
                pack.goods_description=this.Gdes;
                pack.goods_num=this.Gnum;
                fetch(local+'mgood/?name={{name}}&id={{id}}&pwd={{pwd}}', {
                method: 'POST',
                mode: 'cors',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(pack)
                }).then(function(response) {
                    // let url = 'http://localhost:8000/setting/?name='+this.name+'&id={{id}}'+'&pwd='+this.resultPwd;
                    window.location.replace(local+'mgood/?name={{name}}&id={{id}}&pwd={{pwd}}')
                }).catch(function(err) {
                    // 出错了;等价于 then 的第二个参数,但这样更好用更直观 :(
                });

            },
            deletef:function (index,row){
                load.ope = "下架";
                load.goods_num = row.goods_num;
                fetch(local+'mgood/?name={{name}}&id={{id}}&pwd={{pwd}}', {
                method: 'POST',
                mode: 'cors',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(load)
                }).then(function(response) {
                    // let url = 'http://localhost:8000/setting/?name='+this.name+'&id={{id}}'+'&pwd='+this.resultPwd;
                    window.location.replace(local+'mgood/?name={{name}}&id={{id}}&pwd={{pwd}}')
                }).catch(function(err) {
                    // 出错了;等价于 then 的第二个参数,但这样更好用更直观 :(
                });
            },
            setDialog1:function(row){
                this.dialogVisible1 = true;
                pack.ope = '上架';
                if(row != '1'){
                    this.Gname = row.goods_name;
                    this.Gnumber = row.inventory_number;
                    this.Gprice = row.goods_price.slice(1);
                    this.Gdes = row.goods_description;
                    this.Gphoto = row.goods_photo;
                    this.Gnum = row.goods_num;
                    pack.ope = '修改';
                }
            },
            cancel1:function (){
                this.dialogVisible1 = false;
                // console.log(this.diaglogVisible)
            },
            setDialog2:function(row){
                this.dialogVisible2 = true;
                this.photo_url = row.goods_photo;
                // console.log(this.photo_url)
            },
            cancel2:function (){
                this.dialogVisible2 = false;
                // console.log(this.diaglogVisible)
            },
            getComment:function(index,row){
                load.way = "查看评论";
                load.goods_num = row.goods_num;
                let sear_url = local+"sindex/?name={{name}}&id={{id}}&pwd={{pwd}}";
                this.dialogVisible3 = true;
                fetch(sear_url, {
                        method: 'POST',
                        mode:'cors',
                        headers: {
                            'Content-Type': 'application/json',
                          },
                        body:JSON.stringify(load)
                    }).then(function(response) {
                        return response.json();
                    }).then(function(responseJson) {
                        temp=responseJson.data;
                        evaTable.splice(0,evaTable.length);
                        let i = 0;
                        for(;i<temp.length;i++){
                            evaTable.push(temp[i]);
                            // console.log(temp[i]);
                        }
                    });
            },
            cancel3:function (){
                this.dialogVisible3 = false;
                // console.log(this.diaglogVisible)
            },
     }
 });
</script>
</body>
</html>