{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户设置</title>
</head>
<body>
<script src="{% static '/js/vue.js'%}"></script>
<script src="{% static '/js/element-ui/lib/index.js'%}"></script>
<link rel="stylesheet" href="{% static '/js/element-ui/lib/theme-chalk/index.css'%}">
<div id="app">
    <div  style="text-align:right">
        <span>---欢迎您：{{name}}---</span>
        <el-button type="danger" @click="goIndex">返回主页</el-button>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="text-align:center">
        名字修改：<el-input type="text" placeholder="修改后的用户名" style="width: 270px" v-model="name"></el-input>
    </div>
    <br>
    <br>
    <div style="text-align:center">
        原始密码：<el-input type="password" placeholder="原密码" style="width: 270px" v-model="sourcePwd"></el-input>
    </div>
    <br>
    <br>
    <div style="text-align:center">
        修改密码：<el-input type="password" placeholder="修改后的密码" style="width: 270px" v-model="resultPwd"></el-input>
    </div>
    <br>
    <br>
    <div style="text-align:center"><el-button type="primary" @click="reSet">确认修改</el-button></div>
</div>

<script>
    let load={
        id:"{{id}}",
        resultName:"",
        sourcePwd:"",
        resultPwd:""
    }
    const local = "http://localhost:8000/";
    let setting=new Vue({
        el: "#app",
        data: {
            userinfo:"",
            keyinfo:"",
            name:"{{name}}",
            sourcePwd:"",
            resultPwd:"",
        },
        methods: {
            reSet: function () {
                load.resultName = this.name;
                load.sourcePwd = this.sourcePwd;
                load.resultPwd = this.resultPwd;
                fetch(local+'setting/', {
                    method: 'POST',
                    mode: 'cors',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(load)
                }).then(function(response) {
                        return response.json();
                }).then(function(responseJson) {
                    data = responseJson.data;
                    console.log(data)
                    url =local + "setting/" + "?id=" + '{{id}}' + "&name=" + data[1] + "&pwd=" + data[2];
                    if(data[0]){
                        window.location.replace(url)
                    }else{
                        alert("密码错误或长度有误，密码修改失败\n注意：5<len(password)<13")
                        window.location.replace(url)
                    }
                });
            },
            goIndex:function(){
                let index_url = local+'index/?name={{name}}&id={{id}}&pwd={{pwd}}';
                fetch(index_url, {
                        method: 'GET',
                    }).then(function(response) {
                        // console.log(response)
                        window.location.replace(index_url)
                    }).catch(function(err) {
                        // 出错了;等价于 then 的第二个参数,但这样更好用更直观 :(
                    });
            }
        }
    })
</script>
</body>
</html>